<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <title>Electron Boilerplate</title>

  <link href="stylesheets/main.css" rel="stylesheet" type="text/css">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script src="helpers/context_menu.js"></script>
  <script src="helpers/external_links.js"></script>

  <script src="app.js"></script>
  <script src="angular.js"></script>
</head>

<body ng-app="laniakeaGUI">
  <div class="home" ng-controller="homeCTRL">
    <div class="pure-g">
      <div class="pure-u-2-5">
        <input type="text" ng-model="sourcePath">
        <button type="button" ng-click="updateSourcePath()">Choose Source</button>

        <table class="file-list pure-table pure-table-horizontal pure-table-striped">
          <tbody>
            <tr ng-repeat="file in sourceFiles">
              <td>
                {{ file }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="pure-u-1-5">
      </div>
      <div class="pure-u-2-5">
        <input type="text" ng-model="destPath">
        <button type="button" ng-click="updateDestPath()">Choose Destination</button>
      </div>
    </div>
  </div>
</body>

</html>
